body{
  //margin: auto;
  //background-color: #dddddd;
  height: auto;
}

/* header */
#header{
  display: flex;
  align-items: flex-end;
}

nav{
  //border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

nav div{
  display: inline-block;
  padding: 10px;
  font-size: 23px;
  white-space: nowrap;
  font-family: cursive;
}

nav div a{
  text-decoration: none;
  color: inherit;
}

nav div a:hover{
  text-decoration: none;
  color: #ffffff;
}
/*end header*/
/* body */

#container_section{
  //display: flex;
  //justify-content: center;
  //height: auto;
  //margin: auto;
}
#take_picture, #canvas, #video{
  display: block;
  margin: auto;
}

#canvas_button{
  margin: auto;
  text-align: center;
}

#webcam{
  border: 1px solid black;
  margin: auto;
}

#picture{
  //margin: auto;
  height:500px;
  width:200px;
  border: 1px solid black;
}
