
#header{
  display: block;
  height: auto;
}

#container_logo{
  text-align: center;
}

#site_name{
  font-size: 25px;
  text-align: center;
}

nav{
  border-top: 1px solid #787878;
}

nav div{
  display: block;
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  border: 1px solid #787878;
}

#container_section{
  display: block;
}
